$commonBgColor:#2761ff;//旭辉通用色

$mainBgColor:#fafafa;//主体背景颜色

$listLinkFontColor:#2761ff;//列表页链接字体颜色

$inputHeight:29px;

$tableFontSize:14px;//表格字体大小

$formFontSize:12px;//表单字体大小

$tableItemHeight:35px;//表单行高
